body {
  font-family: Roboto;
  color: rgb(244, 225, 225);
  background-color: rgb(117, 110, 110);
}

h1 {
  font-size: 2.5rem;
  font-family: "Fira Mono";
}

nav li {
  display: inline;
  justify-self: center;
  padding: 0.25rem;
  /* background-color: rgb(244, 225, 225); */
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
}

img {
  padding: 0.25rem;
  align-items: center;
  margin: 0;
  width: 480px;
  height: 360px;
}

li {
  list-style: circle;
}

section p {
  font-family: "";
}

.content-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}
